*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    margin-top: 40px;
}

form textarea{
    resize: none;
    height: 180px;
}

form button {
    background-color: aquamarine;
    color: black;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: aqua;
    color: black;
}

#success-message{
    background-color: green;
    padding: 16px;
    color: #ffffff;
    display: none;
}

#error-message {
    padding: 8px;
    background-color: red;
    color: #ecf0f1;
    margin-bottom: 8px;
    display: none;
}